* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sour Gummy";
}

html {
    height: 100vh;
}

h2 {
    text-align: center;
    color: white;
    font-size: 50px;
    &:hover {
        color: tomato;
    }
}

p {
    color: white;
    font-size: 25px;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/about-img.png);
    background-repeat: no-repeat;
    background-size: cover;
}